From{background_color:rgb(214,98,98);
border_radius:10px;
width:350px;
padding_top:30px;
padding_bottom:50px;
border_radius:20px;box_shadow:10px 10px 10px;}
table td{padding_top:20px;}
input[type="submit"]{background_color:rgh(214,98,98);}